{% extends 'index.html' %}

{% block main %}
    <main class="nav-spacer">

        {% if resultado != None %}
            <script>alert("Pontuação: {{ resultado }}");</script>
        {% endif %}

        <div class="quizz-form">
            <form action="{% url 'quizz:quizz' %}" method="POST">
                {% csrf_token %}
                {{ form.as_ul }}
                <input type="hidden" name="pontuacao" value="0">
                <div class="quizz-btn">
                    <input type="submit" value="Submit">
                </div>
            </form>
        </div>
    </main>
{% endblock %}