{% extends 'base.html' %}
{% load static %}

{% block main %}
    <main class="frames-grid">

        {% for show in shows %}
            {% with pk=show.pk|stringformat:"i" %}
                <a href="{% url 'tvcrib:show' pk %}">
                    {% with pk=show.pk|stringformat:"i" %}
                        <div class="frame"
                             style="background-image: url('{% static "image-db/"|add:pk|add:"/card_cover.jpg" %}')">
                            <div class="movie-title">
                                <h1>{{ show.name }}</h1>
                            </div>
                        </div>
                    {% endwith %}
                </a>
            {% endwith %}
        {% endfor %}
    </main>
{% endblock %}