{% extends 'base.html' %}
{% load static %}
{% load mytags %}

{% block main %}
    <main class="grid">
        <article class="trailer-container">
            <iframe width="560" height="315" src="{{ show.trailerLink }}" title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </article>

        <article class="cast-container">
            <p id="cast">Cast</p>
            <div class="cast-cards">
                {% for character in show.characters.all %}
                    <div class="card">
                        {% with  character.castMember.photo.path|split|last as filename %}
                            <img src="{% static "image-db/cast_photos/"|add:filename %}" alt="">
                        {% endwith %}
                        <p class="name">{{ character.castMember }}</p>
                        <p class="character-name">({{ character }})</p>
                    </div>
                {% endfor %}
            </div>
        </article>

        <section class="right">
            <article class="movie-cover">
                <img src="{% static "image-db/"|add:pk|add:"/movie_cover.jpg" %}" alt="">
            </article>
            <article class="text-container">
                <h1 id="title">{{ show.name }}</h1>
                <div class="properties">

                    <p id="year">{{ show.year }}</p>
                    <p id="PG">{{ show.pg }}+</p>
                    <p id="genre">{{ categoria }}</p>

                    <div class="icons">
                        <img class="rating-icon" src="{% static "imgs/satisfied.svg" %}" alt="">
                        <img class="rating-icon" src="{% static "imgs/dissatisfied.svg" %}" alt="">
                    </div>

                </div>
                <p class="sinopse">{{ show.description }}</p>
            </article>
        </section>
    </main>
{% endblock %}

